{% extends 'base.html.twig' %}

{% block title %}Department index{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Department index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Department</th>
                <th>Description</th>
                <th>Address</th>
                <th>Roi Url</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for department in departments %}
            <tr>
                <td>{{ department.id }}</td>
                <td>{{ department.deptName }}</td>
                <td>{{ department.description|u.truncate(60, '...', false) }}</td>
                <td>{{ department.address }}</td>
                <td>{{ department.roiUrl }}</td>
                <div><td>
                    <a href="{{ path('app_department_show', {'id': department.id}) }}" class="btn btn-outline-info btn-sm">show</a>
                    <a href="{{ path('app_department_edit', {'id': department.id}) }}" class="btn btn-outline-dark btn-sm">edit</a>
                </td><div>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('app_department_new') }}" class="btn btn-primary">Create new</a>
</div>
{% endblock %}
